<div id="education">
  <h2 class="display-2">Education</h2>
  <div class="card-group">
  <div class="card">
  <div class="imageHolder">
      <img class="card-img-top" src="../../assets/img/ITlogo.png" alt="Card image cap">
  </div>
    <div class="card-body">
      <h5 class="card-title">2019 - Barcelona Activa - IT Academy - Front End</h5>
      <p class="card-text">300 hours self paced Front End course financed by the European Regional Development Fund of the European Union. Course included: HTML, CSS, SASS, JavaScript, jQuery, Angular...</p>
    </div>
  </div>
  <div class="card">
  <div class="imageHolder">
    <img class="card-img-top" src="../../assets/img/skylab.png" alt="Card image cap">
    </div>
    <div class="card-body">
      <h5 class="card-title">2018 - Skylab coders - part time</h5>
      <p class="card-text">12 weeks part-time course learning front end. Course included: HTML, CSS, JavaScript, React...</p>
    </div>
  </div>
  <div class="card">
  <div class="imageHolder">
    <img class="card-img-top" src="../../assets/img/pompeu.png" alt="Card image cap">
    </div>
    <div class="card-body">
      <h5 class="card-title">2008 - IDEC Pompeu Fabra - Master in Communication Management</h5>
      <p class="card-text">Master aimed in learn how to lead communication in all type of organizations. Awesome teachers.</p>
    </div>
  </div>

  <div class="card">
  <div class="imageHolder">
    <img class="card-img-top" src="../../assets/img/tec.png" alt="Card image cap">
    </div>
    <div class="card-body">
      <h5 class="card-title">2000 - 2004 - ITESM - Tec de Monterrey Campus Guadalajara - Marketing degree</h5>
      <p class="card-text">Marketing degree at tec, one of the best universities in México</p>
    </div>
  </div>
</div>
</div>
