<div class="section" id="education">
  <h2 class="">Education - click each school for more info</h2>

  <div class="schools">
  <!-- Button trigger modal -->
  <img class="card-img-top" src="../../assets/img/ITlogo.png" alt="Card image cap" data-toggle="modal" data-target="#itAcademy">

<!-- Modal -->
<div class="modal fade" id="itAcademy" tabindex="-1" role="dialog" aria-labelledby="itAcademyLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="itAcademyLabel">2019 - Barcelona Activa - IT Academy - Front End</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p >300 hours self paced Front End course financed by the European Regional Development Fund of the European Union. Course included: HTML, CSS, SASS, JavaScript, jQuery, Angular...</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal -->
<img class="card-img-top" src="../../assets/img/skylab.png" alt="Card image cap" data-toggle="modal" data-target="#skylab">


<!-- Modal -->
<div class="modal fade" id="skylab" tabindex="-1" role="dialog" aria-labelledby="skylabLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="skylabLabel">2018 - Skylab coders - part time</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p>12 weeks part-time course learning front end. Course included: HTML, CSS, JavaScript, React...</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal -->
<img class="card-img-top" src="../../assets/img/pompeu.png" alt="Card image cap" data-toggle="modal" data-target="#pompeu">

<!-- Modal -->
<div class="modal fade" id="pompeu" tabindex="-1" role="dialog" aria-labelledby="pompeuLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pompeuLabel">2008 - IDEC Pompeu Fabra - Master in Communication Management</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Master aimed in learn how to lead communication in all type of organizations. Awesome teachers.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal -->
<img class="card-img-top" src="../../assets/img/tec.png" alt="Card image cap" data-toggle="modal" data-target="#tec">

<!-- Modal -->
<div class="modal fade" id="tec" tabindex="-1" role="dialog" aria-labelledby="tecLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tecLabel">2000 - 2004 - ITESM - Tec de Monterrey Campus Guadalajara - Marketing degree</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p >Marketing degree at tec, one of the best universities in México</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>


