<div class="section" id="aboutMe">
    <h2 class="">About me</h2>
    
    <p><fa-icon [icon]="['fas', 'language']" size="2x"></fa-icon> - I speak Spanish (Mexican native), English (Advanced), Catalan and French (Basic) and when I was younger I enjoyed my italian and german classes. Unfortunately I forgot them!!</p>
    
    <h4>I am most proud of:</h4>
    <p><fa-icon [icon]="['fas', 'globe-americas']"  size="2x"></fa-icon> - Do an event in other country, helping to coordinate everything: logistics, stadium, budgets...</p>
    <p><fa-icon [icon]="['fas', 'money-bill-alt']" size="2x"></fa-icon>Wisely spend budgets for my advertisement campaigns around Mexico and Spain in close relationship with the mexican tourism board.</p>
    <p><fa-icon [icon]="['fas', 'grin-beam-sweat']" size="2x"></fa-icon>Leave my comfort zone and learn new stuff.</p>

   
    <h4>Strengths</h4>
    <ul>
        <li>Honest</li>
        <li>Enjoy continous learning</li>
        <li>Reliable</li>
        <li>Empathetic</li>
        <li>Hard-working</li>
        <li>Loyal</li>
    </ul>
    <h4>Testimonials</h4>
    <div class="bd-example">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="new_html_code"></div>
                  <div class="carousel-caption d-none d-md-block">
                    <h4>Citlalli is hard-working, efficient and responsible.</h4>
                    <p>Previous boss from another company very linked to Dara Sports</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="new_html_code"></div>
                  <div class="carousel-caption d-none d-md-block">
                    <h4>Excellent service, high efficiency, predisposition and adaptability to changing cicunstances.</h4>
                    <p>Owner of a service supplier of Dara Sports</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="new_html_code"></div>
                  <div class="carousel-caption d-none d-md-block">
                    <h4>I am awesome.</h4>
                    <p>Me</p>
                  </div>
                </div>
              </div>

             

              <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                <fa-icon [icon]="['fas', 'chevron-left']" size="2x"></fa-icon>
              </a>
              <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                <fa-icon [icon]="['fas', 'chevron-right']" size="2x"></fa-icon>
              </a>
            </div>
    </div>

    <h4>Previous works</h4>
    <ul>
        <li>Angular - this site you are watching right now</li>
        <li><a href="https://citlas.github.io/itStripes/">CSS animation</a> - playing with css animation </li>
        
    </ul>

   
</div>
