div.new_html_code {
    width:150px;
  
    min-width:150px;
    min-height:200px;
    max-width:200px;
    
    overflow:hidden;
    display:block;
    
  }

  .faIcon{
    font-size: 5rem;
  }

  .faIconMed{
    font-size: 3rem;
  }

  .textAndIcon{
    display: flex;
    margin: 3%;
    text-align: center;
  }

  .textWithIcon{
    align-self: center;
    margin: 3%;
  }

  .carousel-caption, .carousel-control-prev , .carousel-control-next{
    color:black;
  }