<div class="section animated fadeIn" id="aboutMe">
    <h2 class="boldFont">About me</h2>
    <div class="languages textAndIcon row">
      <fa-icon [icon]="['fas', 'language']" size="2x" class="faIcon col-3" ></fa-icon>
      <p class="textWithIcon col-8"> I speak Spanish (Mexican native), English (Advanced), Catalan and French (Basic) and when I was younger I enjoyed my italian and german classes. Unfortunately I forgot all about them!!</p>
    </div>

    <div class="strengths textAndIcon row ">
        <fa-icon class="faIcon col-3" [icon]="['fas', 'fist-raised']" size="2x"></fa-icon>
        <p class="textWithIcon col-8"> My strengths are: Honest, enjoy continous learning, reliable, empathetic, hard-working and loyal</p>
      </div>


    
    
    <h4 class="boldFont">I am most proud of:</h4>
    <div class=" row textAndIcon text-center"> 
      <div class="col-4">
          <fa-icon class="faIconMed" [icon]="['fas', 'globe-americas']"  size="2x"></fa-icon>
          <p class="">Do an event in other country, helping to coordinate everything: logistics, stadium, budgets...</p>
      </div> 
      <div class="col-4">
          <fa-icon class="faIconMed" [icon]="['fas', 'money-bill-alt']" size="2x"></fa-icon>
          <p class="">Wisely spend budgets for my advertisement campaigns around Mexico and Spain in close relationship with the mexican tourism board.</p>
      </div> 
      <div class="col-4">
        <fa-icon class="faIconMed" [icon]="['fas', 'grin-beam-sweat']" size="2x"></fa-icon>
        <p class="">Leave my comfort zone and learn new stuff.</p>
      </div> 
      
      
      
      
    </div>   
   

    <h4 class="boldFont">Testimonials</h4>
    <div class="bd-example">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="new_html_code"></div>
                  <div class="carousel-caption d-none d-md-block">
                    <h4>Citlalli is hard-working, efficient and responsible.</h4>
                    <p>Previous boss from another company very linked to Dara Sports</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="new_html_code"></div>
                  <div class="carousel-caption d-none d-md-block">
                    <h4>Excellent service, high efficiency, predisposition and adaptability to changing cicunstances.</h4>
                    <p>Owner of a service supplier of Dara Sports</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="new_html_code"></div>
                  <div class="carousel-caption d-none d-md-block">
                    <h4>I will improve ;)</h4>
                    <p>Me</p>
                  </div>
                </div>
              </div>

             

              <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                <fa-icon [icon]="['fas', 'chevron-left']" size="2x"></fa-icon>
              </a>
              <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                <fa-icon [icon]="['fas', 'chevron-right']" size="2x"></fa-icon>
              </a>
            </div>
    </div>

   

   
</div>
