<div id="work">
  <h2 class="display-2">Work experience (Not tech)</h2>
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            2011-2017 Dara Sports - Assistant
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <p>Management, accounting, designer, web, video creation, logistics, event manager, presentations, office manager, HR, sponsorships, payments, contracts, translations and whatever it was needed at the agency. 
          Collaborated with suppliers and partners in Spain, Mexico, USA, UK, Switzerland and Ukraine.
          Part of the team that organized 2 events in Riviera Maya (Mexico) attended by 20,000 people, broadcasted live around the world.</p>
          
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            2010-2011 MH Comunicación
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <p>Clipping, assistant, database management, press releases and support at events for MH, a communications agency for luxury hotels. Assisted in events and in office for the D-Company, a Destination Management Company. Database management.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            2006 - 2008 Publicidad Saiffe
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <p>Planning, coordination and execution of advertising campaigns for Mexican destinations.
          Succeeded in coordinating advertising campaigns in Europe and Mexico. 
          Directed a 7 member multidisciplinary team</p>
        </div>
      </div>
    </div>
  </div>
</div>
