<div class="section" id="work">
  <h2 class="">Work experience (Not tech)</h2>
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne">
        <h5 class="mb-0">
          2011-2017 Dara Sports - Assistant  <fa-icon [icon]="['fas', 'chevron-down']" pull="right"></fa-icon>
        </h5>
        
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
         
          <ul>
            <li>Management, accounting, designer, web, video creation, logistics, event manager, presentations, office manager, HR, sponsorships, payments, contracts, translations and whatever it was needed at the agency. </li>
            <li> Collaborated with suppliers and partners in Spain, Mexico, USA, UK, Switzerland and Ukraine.</li>
            <li>Part of the team that organized 2 events in Riviera Maya (Mexico) attended by 20,000 people, broadcasted live around the world.</li>
          </ul>
          
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo"  data-toggle="collapse" data-target="#collapseTwo">
        <h5 class="mb-0">  
            2010-2011 MH Comunicación - assistant <fa-icon [icon]="['fas', 'chevron-down']" pull="right"></fa-icon>
         
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <ul>
            <li>Clipping, assistant, database management, press releases and support at events for MH, a communications agency for luxury hotels.</li>
            <li>Assisted in events and in office for the D-Company, a Destination Management Company.</li>
            <li>Database management.</li>
          </ul>
         
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree">
        <h5 class="mb-0">
          
            2006 - 2008 Publicidad Saiffe - account manager <fa-icon [icon]="['fas', 'chevron-down']" pull="right"></fa-icon>
        
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <ul>
            <li>Planning, coordination and execution of advertising campaigns for Mexican destinations.</li>
            <li>Succeeded in coordinating advertising campaigns in Europe and Mexico. 
                Directed a 7 member multidisciplinary team</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
