<div class="section" id="skills">
    <h2 class="boldFont">Tech skills</h2>
    <p>I consider myself a work in process, I like to learn different stuff all the time.</p>
    <ul>
        <li ><span class="red">Angular</span> - like this site you are looking right now</li>
        <li>A little of <span class="red">React</span></li>
        <li class="">Css - but kinda have a crush on <span class="red">Sass</span></li>
        <li class=""><span class="red">Git</span> - Used to do everything over terminal, but since I met Sourcetree I do all over there</li>
        <li ><span class="red">JavaScript</span></li>
        <li ><span class="red">jQuery</span></li>
    </ul>
    <h4 class="boldFont">Previous works</h4>
    <ul>
        <li>Angular - this site you are watching right now</li>
        <li><a href="https://citlas.github.io/itStripes/">CSS animation</a> - playing with css animation </li>
        
    </ul>
</div>
