/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
    
}

html, body{
    height: 100%;    
}

body { 
   
}

.red {
    color: tomato;
}

.blue {
    color: #007bff;
}

.section {
    padding-top: 75px;
}

.boldFont{
    font-family: "Arial Black", Gadget, sans-serif;
}