/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

*{
    //font-family: 'Quicksand', sans-serif;
    font-family: "Arial Black", Gadget, sans-serif;
    
}

html, body{
    height: 100%;    
}

body { 
    padding-top: 70px; 
}

.red {
    color: tomato;
}

.blue {
    color: #007bff;
}

.section {
    margin: 5% 0;
}

