<div  id="datos">
    <h2 class="display-2">I am Citlalli Prado and I am looking for a job as Junior Front End</h2>
    <p class="">I am a mexican living in Barcelona since 2008. I have worked in tourism, sports and entertainment agencies. I am trying to find a job as Front End. I have a background in marketing, advertising and communications, and I love to learn.</p>
    <p class="">You can check my <a href="https://www.linkedin.com/in/citlalliprado/">LinkedIn</a> or <a href="https://github.com/citlas?tab=repositories">Github</a> accounts if you want to know more about me.</p>
</div>
