<div class="section animated bounceInLeft" id="datos">
    
    <p class="font">I am a mexican living in Barcelona since 2008. I have worked in tourism, sports and entertainment agencies, and now I am trying to change career and would love to work as Front End developer.</p>
    <p class="font">You can check my <a href="https://www.linkedin.com/in/citlalliprado/">LinkedIn</a> or <a href="https://github.com/citlas?tab=repositories">Github</a> accounts if you want to know more about me.</p>
</div>
